* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --background-color: #f7fdfc;
    --button-color: #2ec4b6;
  }
  
/* header {
    border: 1px solid red;
} */

.form-container {
    max-width: 100%; /* Make the form container fill the screen width on mobile */
    margin: 0 auto;
    padding: 15px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
  }
  
  label {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Media Queries for Larger Screens */
  @media (min-width: 768px) {
    .form-container {
      max-width: 400px; /* Set a max-width for larger screens */
    }
  }