* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --background-color: #f7fdfc;
    --button-color: #2ec4b6;
  }
  
header {
    border: 1px solid red;
}